.container{
   height: 100vh;
  gap: 30px 40px;
   display: grid;
   grid-template-areas: 
   "tomoto tomoto tomoto tomoto kajo kajo kajo kajo kajo kajo greens greens"
   " salad-1 salad-1 salad-1 salad-1 lemon lemon lemon salad-2 salad-2 salad-2 greens greens"
   ;
}

.tomoto{
   background-color: tomato;
   grid-area: tomoto;
}
.kajo{
   background-color: yellow;
   grid-area: kajo;
}
.greens{
   background-color: greenyellow;
   grid-area: greens;
}
.lemon{
   background-color: green;
   grid-area: lemon;
}
.salad-1{
   background-color: deeppink;
   grid-area: salad-1;
}
.salad-2{
   background-color: fuchsia;
   grid-area: salad-2;
}